@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background-color: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;  /* Makes it rotate from wrist */
  cursor: pointer;
}

.wave:hover {
  animation: wave-animation 1s ease-in-out infinite;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}
